# Postgres
POSTGRES_USER=admin
POSTGRES_PASSWORD=admin123
POSTGRES_DB=cadastrodb
DATABASE_URL="postgresql://admin:admin123@localhost:5432/cadastrodb?schema=public"

# JWT
JWT_SECRET=troque_por_uma_chave_secreta
JWT_EXPIRES_IN=15m
REFRESH_TOKEN_SECRET=troque_por_refresh_secret
REFRESH_TOKEN_EXPIRES_IN=7d

# SMTP (para envio de códigos)
SMTP_HOST=smtp.example.com
SMTP_PORT=587
SMTP_USER=usuario@example.com
SMTP_PASS=senha_smtp
EMAIL_FROM="no-reply@example.com"

# App
PORT=4000
